@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

html {
    height: 200%;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.10px);
    left: 2%;
    transform: translateY(-50%);
    font-size: 2.5rem; /* Adjust the size as needed */
    color: #333; /* Dark font color */
}

#container h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem; /* Increase font size */
    text-align: left;
    display: flex;
    align-items: center;
}

#text1, #text2 {
    margin-left: 10px;
    font-size: 3rem; /* Ensure consistent size */
    font-weight: bold;
    opacity: 1;
}

#text2.invisible {
    display: none;
}

.gradient-text {
    background: linear-gradient(to right, #d1547cf8, #a86bc7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

#navbar .navbar {
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

#navbar .navbar-item {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    color: #fff;
}

#navbar .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.gradient-text {
    background: -webkit-linear-gradient(left, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.middle-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}
